---
layout: home
---

<p class="site-lede">The University of Maryland Libraries are pleased to be able to share over 5,000 pages of digitized materials granting unprecedented access to the ideas, attitudes, and experiences of a distinguished 20th century American writer.</p>

{% include featured.html %}

<h2>Collection Highlights</h2>

<div class="highlight-list">
  <h4>See correspondence sent to</h4>
  <ul>
    {% for person in site.correspondents %}
    {% if person.highlight %}
    <li><a href="{{ person.url }}">{{ person.title }}</a> <span class="ship-span">{{ person.relationship }}</span></li>
    {% endif %}
    {% endfor %}
  </ul>
  <a href="/correspondents" class="button">See more</a>
</div>

<div class="highlight-list condensed">
  <h4>See correspondence sent from</h4>
  <ul>
    {% for place in site.places | where: place.highlight, "true" %}
    <li><a href="{{ place.url }}">{{ place.title }}</a></li>
    {% endfor %}
  </ul>
  <a href="/places" class="button">See more</a>
</div>
