.button,
button {
  border: .5px solid color(carmine);
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: ($line-height / 2);
  padding-left: $spacer;
  padding-right: $spacer;
  padding-top: ($line-height / 2);
  text-decoration: none;
  width: 75%;
}

@media (min-width: $bp-small) {
  .button,
  button {
    background-color: color(cyand);
    border: 0;
    color: $inverted-text-color;
    margin-left: 0;
    margin-right: 0;
    max-width: 7rem;

    &:visited {
      color: $inverted-text-color;
    }
  }
}

button .icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 2em;
}
