header {
  background-color: color(carmine);
  color: color(warm-black, x-light);
  margin-bottom: 4.076rem;
  width: 100vw;
}

.header-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: ($line-height / 2);
}

.site-logo {
  padding-left: $spacer;
  padding-top: ($line-height / 2);

  a {
    color: $inverted-text-color;
    font-family: $font-family-serif;
    font-size: ($font-size-h4 * .95);
    font-weight: 400;
  }

  a:hover,
  a:visited,
  a:hover:visited {
    color: $inverted-text-color;
  }
}
