.highlight-list {
  display: flex;
  flex-flow: column;
  margin-bottom: 2.726rem;

  h4 {
    margin-bottom: ($line-height / 2);
  }

  ul {
    margin-bottom: ($line-height * 1.5);
  }

  li {
    @include highlight-list-text-style;
    margin-bottom: ($line-height / 2);
  }

  // .button {
  //   align-self: flex-end;
  // }

  &.condensed {
    li {
      margin-bottom: .375rem;
    }
  }
}

.ship-span {
  color: $text-color;
  font-weight: 200;
}
