.grid-thumbnail-container {
  display: flex;
  flex-flow: column;
}

.grid-thumbnail {
  display: flex;
  flex: 1;
  padding-left: ($gutter / 4);
}

// Media queries

@media (min-width: $bp-small) {
  .grid-thumbnail-container {
    flex-flow: row wrap;
  }
}
