.item-metadata {
  display: flex;
  flex-flow: column;
  margin-bottom: 1.801rem;

  dl {
    margin-top: 0;
  }

  dt,
  dd {
    font-size: $font-size-small;
    line-height: ($line-height * .8);
  }

  dt::after {
    content: ': ';
  }

  dd::after {
    content: '';
  }
}

.holdings {
  align-items: baseline;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 65%;

  dt {
    flex: .09 1 auto;
  }

  dd {
    flex: .5 0 auto;
  }

  dd+dt::before {
    content: '';
  }
}

.openseadragon-canvas {
  background-color: color(warm-black);
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.openseadragon-container,
.openseadragon {
  height: 100%;
  width: 100%;
}

// Media queries

@media (min-width: $bp-small) {

  // .item-metadata {
  //   flex-flow: row;
  // }

  .openseadragon-canvas {
    height: 57rem;
    width: 100%;
  }
}
