.search-form {
  margin-bottom: $line-height;
}

.search-facets {
  display: flex;
  flex-flow: column;
  margin-bottom: $line-height;
}

.facet-contents {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  margin-bottom: ($line-height / 2);

  .facet {
    background-color: color(warm-black, x-light);
    display: flex;
    flex: 1;
    flex-flow: column;
    font-size: $font-size-small;
    justify-content: flex-start;
    max-height: 16rem;
    overflow-y: scroll;
    padding-top: ($line-height / 2);

    h4 {
      margin-left: auto;
      margin-right: auto;
    }

    ul {
      padding-left: ($gutter / 2);
      padding-right: ($gutter / 2);
    }

    [type="checkbox"] {
      margin-right: ($gutter / 2);
    }
  }

  .facet+.facet {
    margin-left: ($gutter / 2);
  }

  .facet-count {
    margin-left: ($gutter / 4);
  }
}

.facet-controls {
  display: flex;
  justify-content: flex-end;

  div {
    display: flex;
  }
}

.search-stats {
  color: color(warm-black, light);
  margin-bottom: $line-height;
}

.result {
  border-top: .5px solid color(warm-black);
  display: flex;
  padding-top: ($line-height / 2);

  figure {
    margin-top: 0;
  }
}

.page-controls {
  margin-bottom: ($line-height * 2);
}

.page-controls-inner {
  display: flex;
  flex-flow: row;
  justify-content: center;

  a+a {
    margin-left: ($gutter / 2);
  }
}
