.search-form {
  margin-bottom: $line-height;
}

.search-stats {
  color: color(warm-black, light);
  margin-bottom: $line-height;
}

.result {
  border-top: .5px solid color(warm-black);
  display: flex;
  padding-top: ($line-height / 2);

  figure {
    margin-top: 0;
  }
}

.page-controls {
  margin-bottom: ($line-height * 2);
}

.page-controls-inner {
  display: flex;
  flex-flow: row;
  justify-content: center;

  a+a {
    margin-left: ($gutter / 2);
  }
}
