<footer>
  <div class="footer-content">
    {% include nav-inner-list.html %}
    <ul>
      <li><a href="/about/editorial-intro.html">Editorial introduction</a></li>
      <li><a href="/about">About the project</a></li>
      <li><a href="/about/team.html">Team</a></li>
      <li><a href="/about/colophon.html">Colophon</a></li>
    </ul>
    <div class="credit-line">
      <p>Supported by the Katherine Anne Porter Literary Trust</p>
      <figure>
        <img src="/media/LibLogo-1x.png" alt="University of Maryland Libraries logo" />
      </figure>
    </div>
  </div>
</footer>
