html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  padding: 0;
}

.site-title-content,
main {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 16.968rem; // 320px - ($gutter / 2)
  min-width: 15rem;
}

main {
  margin-bottom: ($line-height * 3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $headings-line-height;
  margin-top: 0;
}

h5 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dt,
dd {
  display: inline;
}

dd {
  margin: 0;
}

p {
  margin-bottom: $line-height;
  margin-top: 0;
}

a {
  color: color(carmine);
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: color(carmine, dark);
}

a:hover,
a:hover:visited {
  color: color(carmine, dark);
}

// Media queries

@media (min-width: $bp-small) {
  .site-title-content,
  main {
    max-width: 28.191rem; // 522px - ($gutter / 2)
    min-width: 28.191rem;
  }

  a:visited {
    color: color(warm-black, light);
  }
}

@media (min-width: $bp-lg) {
  .site-title-content,
  main {
    max-width: 47.5rem;
    min-width: 47.5rem;
  }

  .text-container {
    max-width: 28.191rem;
    min-width: 28.191rem;
  }
}
