$medium-carmine: hsl(16, 52%, 43%);
$dark-puce: hsl(327, 7%, 24%);
$feldspar: hsl(35, 72%, 82%);
$desaturated-cyan: hsl(169, 21%, 50%);
$licorice: hsl(16, 31%, 10%);
$sonic-silver: hsl(220, 1%, 48%);

$colors: (
  warm-black: (
    x-light: lighten($sonic-silver, 40%),
    light: $sonic-silver,
    mid: $licorice,
    dark: darken($licorice, 40%),
  ),
  cyand: (
    light: lighten($desaturated-cyan, 20%),
    mid: $desaturated-cyan,
    dark: darken($desaturated-cyan, 20%)
  ),
  feldspar: (
    x-light: lighten($feldspar, 15%),
    light: lighten($feldspar, 10%),
    mid: $feldspar,
    dark: darken($feldspar, 10%)
  ),
  puce: (
    x-light: lighten($dark-puce, 30%),
    light: lighten($dark-puce, 20%),
    mid: $dark-puce,
    dark: darken($dark-puce, 20%)
  ),
  carmine: (
    light: lighten($medium-carmine, 20%),
    mid: $medium-carmine,
    dark: darken($medium-carmine, 20%)
  )
);

$body-bg-color: color(feldspar, x-light);
$text-color: color(warm-black, dark);
$inverted-text-color: $body-bg-color;
$link-color: color(cyand);

body {
  background-color: $body-bg-color;
  color: $text-color;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: color(cyand);
// }
