$font-size-ratio: 1.125;

$font-size-h1: 2.887rem;
$font-size-h2: 2.027rem;
$font-size-h3: 1.602rem;
$font-size-h4: 1.266rem;
$font-size-h5: 1rem;

$font-size-small: .79rem;

$line-height: 1.35em;
$headings-line-height: .88em;

$font-family-sans-serif: 'tablet-gothic';
$font-family-serif: 'bodoni-urw';
$font-family-headings: 'tablet-gothic-narrow';

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-feature-settings: 'kern' 1;
  font-weight: 400;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
  font-weight: 700;
}


h1 {
  font-size: $font-size-h1;
  line-height: 2.726rem;
}

h2 {
  font-size: $font-size-h2;
  line-height: 1.801rem;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  color: color(cyand);
  font-size: $font-size-h4;
}

h5 {
  color: color(cyand);
  font-weight: 400;
}

// Media queries

@media (min-width: $bp-med) {
  html {
    font-size: ($font-size-base * 1.167);
  }

  body {
    line-height: 1.7rem;
  }
}
