---
layout: page
---
<div class="item-metadata">
  <dl>
    <dt>Recipient(s)</dt>
    {% for person in page.recipient %}
    <dd>
      <a href="/correspondents/{{ person | replace: ' ', '-' | downcase }}.html">
        {{ person }}
      </a>
    </dd>
    {% endfor %}
    <dt>Location</dt>
    {% if page.country == 'United States of America' %}
    <dd>{{ page.settlement }}, {{ page.region }}, {{ page.country }}</dd>
    {% else %}
    <dd>{{ page.settlement }}, {{ page.country }}</dd>
    {% endif %}
  </dl>
  <dl>
    <dt>Repository</dt>
    <dd>University of Maryland Libraries Special Collections</dd>
    <dt>Collection</dt>
    <dd><a href="{{ page.collection_handle }}">{{ page.collection }}</a></dd>
  </dl>
  <dl class="holdings">

    <dt>Series</dt>
    <dd>{{ page.series }}</dd>
    <dt>Subseries</dt>
    <dd>{{ page.subseries }}</dd>
    <dt>Box</dt>
    <dd>{{ page.box }}</dd>
    <dt>Folder</dt>
    <dd>{{ page.folder }}</dd>
  </dl>
</div>

<div id="viewer" data-item-id="{{ page.id }}">
  <div id="item-viewer" class="openseadragon-canvas"></div>
</div>

<div class="a11y-text">
  {{ page.text }}
</div>
